**/node_modules
**/files
**/notebooks
**/src
**/__pycache__
.DS_Store
*.pyc
*.pyo
*.pyd
.Python
.git
.env.milo
.eslintrc.js
.gitignore
azure-pipelines.yml
babel.config.js
db.json
Dockerfile
package-lock.json
package.json
README.md
vue.config.js
